body {
    font-family: Ubuntu, "times new roman", times, roman, serif;
    background: #1e1e1e;
    color: #fff;
}

h1 {
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
}

@media (prefers-color-scheme: light) {
    body {
        background: #fff;
        color: #1e1e1e;
    }

    h1 {
        color: #1e1e1e;
    }
}

a {
    color: inherit;
    text-decoration: none;
    transition: .2s;
}

a:hover {
    color: #DA70D6;
}

#page {
    max-width: 56.5rem;
    margin: auto;
}

@media (min-height: 750px) {
    #page {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.section {
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 1.35;
}

.section-title {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 24px;
    position: relative;
}

.section-title::after {
    content: "";
    width: 64px;
    height: 2px;
    background: #DA70D6;
    opacity: 1;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
}

.project {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 1rem;
    background: rgba(218, 112, 214, 0.1);
    border-radius: 0.5rem;
}


.project-title {
    font-size: 24px;
    margin: 0;
}

.project-description {
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0.7;
}

.contact-mail {
    margin-bottom: 0px;
}

.contact-description {
    margin-top: 7px;
    margin-bottom: 0px;
}

ul > li {
    margin-bottom: 0.25em;
}

ul > li > a > i {
    margin-right: 0.25em;
}
